streamlit==1.37.0
opencv-python-headless==4.10.0.84
Pillow==10.4.0
numpy==1.26.4
requests==2.32.3
torch==2.2.2
torchvision==0.17.2
transformers==4.42.4
timm==0.9.16
huggingface_hub==0.24.0
safetensors==0.4.3
absl-py==2.1.0