/* Feedback page specific styles */

.image-section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.styles-grid {
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.styles-grid:has(.style-button:disabled) {
  opacity: 0;
}

.style-button {
  padding: 15px 20px;
  background: transparent;
  border: transparent;
  color: #f6f6f6;
  font-size: clamp(3rem, 5vw, 6.5rem);
  cursor: pointer;
  transition: all 0.3s;
  text-align: left;
  font-weight: 500;
}

.style-button:not(:disabled):hover {
  border-color: #3954cf;
  background: #f7fafc;
  color: black;
  transform: translateX(5px);
}

.back-button {
  padding: 15px 30px;
  font-size: clamp(1.75rem, 3vw, 2rem);
  border: none;
  border-radius: 8px;
  background: #718096;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
}

.back-button:hover {
  background: #4a5568;
  transform: translateY(-2px);
}

#success-message {
  display: none;
  text-align: center;
  padding: 20px;
  background: #c6f6d5;
  border: 2px solid #48bb78;
  border-radius: 8px;
  margin: 20px 0;
  color: #22543d;
  font-size: clamp(3rem, 5vw, 6.5rem);

  font-weight: bold;
}

.controls .btn {
  width: 100%;
}
