/* Feedback page specific styles */

.image-section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.styles-grid {
  background: rgba(0, 0, 0, 80%);
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  transition: opacity 0.5s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 4rem;
  padding-block: 8rem;
  max-height: 75vh;
  overflow: auto;
  color: #f6f6f6;
  font-size: clamp(1.75rem, 4.5vw, 4rem);
  line-height: 1.4;
}

.styles-grid > * {
  font-size: inherit;
  color: inherit;
}

.styles-grid h2 {
  font-size: clamp(2rem, 7.5vw, 10rem);
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 8rem;
  color: fffb00;
}

.styles-grid:has(.style-button:disabled) {
  opacity: 0;
}

.style-button {
  padding: 15px 20px;
  display: inline-block;
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s;
  text-align: left;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: unset;
}

.style-button::before {
  content: "#";
  /* adjust # to be the same size as the text optically */
  font-size: calc(1em * 1.1);
  line-height: 1;
}

.style-button:not(:disabled):active {
  border-color: #3954cf;
  background: #f7fafc;
  color: black;
  transform: translateX(5px);
}

.back-button {
  padding: 15px 30px;
  font-size: clamp(1.75rem, 3vw, 2rem);
  border: none;
  border-radius: 8px;
  background: #718096;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
}

#success-message {
  display: none;
  text-align: center;
  padding: 20px;
  background: black;
  width: 100%;
  height: fit-content;
  color: #f6f6f6;
  font-size: clamp(3rem, 5vw, 6.5rem);
  text-transform: uppercase;
  padding-block: 0.5rem;

  font-weight: bold;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls .btn {
  width: 100%;
}
