html,
body,
.container {
  height: 100%;
}

body {
  background: unset !important;
  padding: unset !important;
}

h1.title {
  margin: unset;
  color: #f6f6f6;
  text-transform: uppercase;
    font-size: clamp(2rem, 7.5vw, 10rem);

}

h2.subtitle{
  color: #f6f6f6;
  font-size: clamp(1.75rem, 5vw, 7rem);
  text-transform: uppercase;
  text-align: center;
}

.container {
  background: transparent !important;
  box-shadow: none !important;
  display: grid;
  padding: 1.875rem 0 !important;
}
/* Results page specific styles */
.results-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.image-section img {
  width: 100%;
  border-radius: 0.75rem;
}

.display-image {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 9/16;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.segmentation {
  opacity: 0;
  display: none;
}

.predictions-section {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding: 2.25rem;
  width: 100%;
  background: rgba(0, 0, 0, 1);
}

.top-prediction {
  display: inline-block;
}

.top-prediction h3 {
  color: #42ffa0;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.top-prediction p {
  font-size: clamp(1.125rem, 1.5vw, 1.375rem);
}
.prediction-item p {
}

.confidence {
  display: inline-block;
  background: #2f855a;
  color: white;
  padding: 5px 15px;
  border-radius: 0.25rem;
  font-weight: bold;
  margin-top: 10px;

  @supports (corner-shape: squircle) {
    corner-shape: squircle;
    border-radius: 1.25rem;
  }
}

.other-predictions {
  margin-top: 20px;
}

.prediction-item {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  background: #f7fafc;
}

.prediction-item strong {
  color: #2d3748;
  font-size: 18px;
}

.prediction-item .conf {
  color: #3954cf;
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.875rem;
}

.controls .btn {
  width: 100%;
}
