<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fashion Police - Feedback</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/feedback.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/results.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />

    <script
      defer
      src="{{ url_for('static', filename='js/feedback.js') }}"
    ></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">CORRECT ME IF I'M WRONG</h1>
      <img
        class="display-image"
        src="data:image/jpeg;base64,{{ image_data }}"
        alt="Your outfit"
      />

      <div class="styles-grid">
        <h2>MY ACTUAL STYLE IS</h2>
        {% for style in styles %}
        <button class="style-button" onclick="submitFeedback('{{ style }}')">{{ style }}</button>
        {% endfor %}
      </div>

      <div id="success-message">
        <button
          class="back-button btn btn-success"
          onclick="window.location.href='/'"
        >
          QUIT
        </button>
      </div>
    </div>
  </body>
</html>
